<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Gestion des Contacts!{% endblock %}</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <style>
        .custab {
            border: 1px solid #ccc;
            padding: 5px;
            margin: 5% 0;
            box-shadow: 3px 3px 2px #ccc;
            transition: 0.5s;
        }

        .custab:hover {
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
        }

        .capitalize {
            text-transform: capitalize;
        }

        .error-template {
            padding: 40px 15px;
            text-align: center;
        }

        .error-actions {
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: center;
        }
        .flex {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="row navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand" href="#">Gestion des contacts</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if session.auth is defined %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ baseUrl ~ '?p=contact/index' }}">
                            Accueil <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ baseUrl ~ '?p=user/logout' }}">
                            Se deconnecter <span class="sr-only"></span>
                        </a>

                    </li>
                </ul>
            </div>
        {% endif %}
    </nav>
    {% if session.auth is defined %}
        <div class="row">
            <h5 class="text-right col-md-12">{{ session.auth.login }} : {{ session.auth.email }} </h5>
        </div>
    {% endif %}
    <main>
        {% block body %}{% endblock %}
    </main>
</div>
<script>
    var baseUrl = "{{ baseUrl }}";
    var notify = function(type, message) {
        var $alert =  $('#alert').removeClass().addClass('alert alert-'+type);
        $alert.children('span').removeClass().addClass('text-'+type).html(message);
        $alert.show();
    };

    $("#lastname").focusout(function () {
        var lastname = $(this).val();
        if (lastname) {
            $.ajax({
                type: 'POST',
                url: baseUrl + '?api=palindrome',
                data: {
                    'name': lastname
                },
                success: function (res) {
                    notify(!res.response ? 'success' : 'danger', res.message);
                }
            });
        } else {
            notify('danger', 'Le nom du contact ne peut être nul');
        }
    });

    $("#checkEmail").click(function () {
        var email = $('#email').val();
        if (email) {
            $.ajax({
                type: 'POST',
                url: baseUrl + '?api=email',
                data: {
                    'email': email
                },
                beforeSend: function () {
                    $('#progress').show();
                },
                success: function (res) {
                    $('#progress').hide();
                    if (res.response === true) {
                        $('#error').hide();
                        $('#success').show();
                    } else {
                        $('#success').hide();
                        $('#error').show();
                    }
                }
            });
        } else {
            $('#success').hide();
            $('#error').show();
        }
    });
</script>
</body>
</html>